<!-- doctype html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal_user/user_base::layout(~{::section})}">
<head>
	<title>Show Contacts</title>
</head>
<body>
	<section class="contact_bg contact_list">
		<div class="card col-md-8 offset-md-2">
			<div class="card-body text-center">
				<h2>Contact Book</h2>
				<div class="card-wrapper">
					<div th:each="c : ${contactsList}" class="card">
						<div class="photo">
							<img alt="profile photo" src="" th:src="@{'/image/'+ ${c.imgUrl}}" class="contact-card-img">	
						</div>
						<div class="banner"></div>
						<ul>
							<li><b th:text="${c.firstName} + ' ' + ${c.lastName}"></b></li>
							<li th:text="${c.work}"></li>
						</ul>
						<a th:href="@{'/user/contact/' + ${c.cId}}">
							<button class="contact" id="main-button">View Contact Details</button>
						</a>
						<div class="contact-card-buttons mt-2">
							<button class="btn btn-danger btn-sm">Delete</button>
							<button class="btn btn-primary btn-sm">Edit</button>
						</div>
						
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<ul class="pagination justify-content-center">
								<li th:classappend="${currentPage == 0 ? 'disabled': ''}" class="page-item">
									<a class="page-link" th:href="@{'/user/viewContacts/' + ${currentPage-1}}">Previous</a>
								</li>
								<li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i-1 ? 'active' : ''}" class="page-item">
									<a class="page-link" th:href="@{'/user/viewContacts/' + ${currentPage}}"><span th:text="${i}"></span></a>
								</li>
								<li th:classappend="${currentPage+1 == totalPages ? 'disabled': ''}" class="page-item">
									<a class="page-link" th:href="@{'/user/viewContacts/' + ${currentPage+1}}">Next</a>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>