.banner {
	width: 100%;
	height: 92.8vh;
	background: white;
	background-image: url("../image/man_calling_home_bg.jpg"); 
   	background-size: cover;
    background-repeat: no-repeat;
}

.hometext {
	position: absolute;
	top: 35%;
	left: 60%;
} 

.home-page {
	width: 90%;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catchy-text {
  font-family: Satisfy, cursive;
  font-size: 2em;
  color: black;
  text-shadow: 0.02em 0.02em 0 Brown, 0 0 0.5em violet;
}

.signup-card{
	padding: 20px;
	background: #f9f9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 5%;
}

form {
	padding: 0px 30px;
}

form div {
	margin-top: 10px;
}

#register {
	font-family:'Lily Script One', cursive;
	font-weight:bold;
	text-align:center;
	color:black;
	-webkit-transition:0.5s ease all;
	   -moz-transition:0.5s ease all;
	    -ms-transition:0.5s ease all;
	     -o-transition:0.5s ease all;
	        transition:0.5s ease all;
}

#register:hover {
	color:cornflowerblue;
}